@* Giriş yapmamış kullanıcılar için uyarı *@
<div class="text-center">
    <p>Yorum yapmak için giriş yapmalısınız.</p>
    <a href="/Login/UserLogin" class="btn btn-outline-primary">Giriş Yap</a>
</div>

<br /> <br />
