

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spike Free Bootstrap Admin Template by WrapPixel</title>
    <link rel="shortcut icon" type="image/png" href="/Spike-Bootstrap-1.0.0/Spike-Bootstrap-1.0.0/src/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="/Spike-Bootstrap-1.0.0/Spike-Bootstrap-1.0.0/src/assets/css/styles.min.css" />

    </head>
  

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">

        <!--  App Topstrip -->
        <div class="app-topstrip bg-dark py-6 px-3 w-100 d-lg-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-center gap-5 mb-2 mb-lg-0">

            </div>

            <div class="d-lg-flex align-items-center gap-2">

                <div class="d-flex align-items-center justify-content-center gap-2">
                    <div class="dropdown d-flex">
          
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop3">
                            <div class="message-body">
                              
                   
                            </div>
                        </div>
                    </div>
                    <div class="dropdown d-flex">
                
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop4">
                            <div class="message-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
       
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
              
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="./index.html" aria-expanded="false">
                                <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <!-- ---------------------------------- -->
                        <!-- Dashboard -->
                        <!-- ---------------------------------- -->
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg justify-content-between has-arrow" href="javascript:void(0)"
                               aria-expanded="false">
                                <div class="d-flex align-items-center gap-6">
                                    <span class="d-flex">
                                        <iconify-icon icon="solar:home-angle-line-duotone"></iconify-icon>
                                    </span>
                                    <span class="hide-menu">Yazar Paneli</span>
                                </div>
                               
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a class="sidebar-link primary-hover-bg justify-content-between" target="_blank"
                                       href="/Author/Profile/">
                                        <div class="d-flex align-items-center gap-6">
                                            <span class="d-flex">
                                                <span class="icon-small"></span>
                                            </span>
                                            <span class="hide-menu">Şifre Değiştir</span>
                                        </div>
                                       
                                    </a>
                                </li>
                           
                                <li class="sidebar-item">
                                    <a class="sidebar-link primary-hover-bg justify-content-between" target="_blank"
                                       href="/Article/BlogListByWriter/">
                                        <div class="d-flex align-items-center gap-6">
                                            <span class="d-flex">
                                                <span class="icon-small"></span>
                                            </span>
                                            <span class="hide-menu">Bloglarım</span>
                                        </div>
                                       
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link primary-hover-bg justify-content-between" target="_blank"
                                       href="/Default/Index/">
                                        <div class="d-flex align-items-center gap-6">
                                            <span class="d-flex">
                                                <span class="icon-small"></span>
                                            </span>
                                            <span class="hide-menu">Siteye Git</span>
                                        </div>
                                  
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link primary-hover-bg justify-content-between" target="_blank"
                                       href="/Author/AboutMe/">
                                        <div class="d-flex align-items-center gap-6">
                                            <span class="d-flex">
                                                <span class="icon-small"></span>
                                            </span>
                                            <span class="hide-menu">Hakkımda</span>
                                        </div>

                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link primary-hover-bg justify-content-between" target="_blank"
                                       href="https://bootstrapdemos.wrappixel.com/spike/dist/main/frontend-portfoliopage.html">
                                        <div class="d-flex align-items-center gap-6">
                                            <span class="d-flex">
                                                <span class="icon-small"></span>
                                            </span>
                                            <span class="hide-menu">Ayarlar</span>
                                        </div>
                                        
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link primary-hover-bg justify-content-between" target="_blank"
                                       href="https://bootstrapdemos.wrappixel.com/spike/dist/main/frontend-pricingpage.html">
                                        <div class="d-flex align-items-center gap-6">
                                            <span class="d-flex">
                                                <span class="icon-small"></span>
                                            </span>
                                            <span class="hide-menu">Çıkış Yap</span>
                                        </div>
                                    
                                    </a>
                                </li>
                            </ul>
                        </li>
                        </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">

            <div class="body-wrapper-inner">
                <div class="container-fluid">
                    <!--  Header Start -->
                    <header class="app-header">
                        <div class="col-lg-8 d-flex align-items-strech">
                        </div>

                    </header>
                    <!--  Header End -->
                    <!--  Row 1 -->

                    <div class="card">
                        <div class="card-body">
                            
                                        @RenderBody()
                            
                        </div>
                    </div>
                    @* <div class="row">
                        <div class="col-lg-12 d-flex align-items-strech">
                            <div class="card w-100">
                                <div class="card-body">
                                   

                                  
                                 
                                </div>
                            </div>
                        </div> *@
                     
           
                   
                   
                </div>
            </div>
        </div>
    </div>
    <script src="/Spike-Bootstrap-1.0.0/Spike-Bootstrap-1.0.0/src/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/Spike-Bootstrap-1.0.0/Spike-Bootstrap-1.0.0/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Spike-Bootstrap-1.0.0/Spike-Bootstrap-1.0.0/src/assets/js/sidebarmenu.js"></script>
    <script src="/Spike-Bootstrap-1.0.0/Spike-Bootstrap-1.0.0/src/assets/js/app.min.js"></script>
    <script src="/Spike-Bootstrap-1.0.0/Spike-Bootstrap-1.0.0/src/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/Spike-Bootstrap-1.0.0/Spike-Bootstrap-1.0.0/src/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="/Spike-Bootstrap-1.0.0/Spike-Bootstrap-1.0.0/src/assets/js/dashboard.js"></script>
            <script src="assets/vendors/js/vendor.bundle.base.js"></script>
            <!-- endinject -->
            <!-- Plugin js for this page -->
            <script src="assets/vendors/chart.js/Chart.min.js"></script>
            <!-- End plugin js for this page -->
            <!-- inject:js -->
            <script src="assets/js/off-canvas.js"></script>
            <script src="assets/js/hoverable-collapse.js"></script>
            <script src="assets/js/misc.js"></script>
            <!-- endinject -->
            <!-- Custom js for this page -->
            <script src="assets/js/dashboard.js"></script>
            <script src="assets/js/todolist.js"></script>
    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>
